<div class="wrapper">
    <h1>Filtruj według</h1>
    <div class="countrySearch">
        <p>Wybierz kraj docelowy</p>
        <select [(ngModel)]="countrySearch" (ngModelChange)="updateFilters()">
            <option >wszystkie</option>
            <option *ngFor="let item of Trips">{{item.destiny}}</option>
        </select>

    </div>
    <div class="priceSearch">
        <p>Sortuj według ceny</p>
        <label for="minPriceSearch">cena minimalna</label>
        <input type="range" placeholder="min" name="minPriceSearch" min="{{minPrice}}" max="{{maxPrice}}" [(ngModel)]="minPriceSearch" (ngModelChange)="updateFilters()" > {{minPriceSearch}}
        <label for="maxPriceSearch">cena maksymalna</label>
        <input type="range" placeholder="max" name="maxPriceSearch" min="{{minPrice}}" max="{{maxPrice}}" [(ngModel)]="maxPriceSearch" (ngModelChange)="updateFilters()"> {{maxPriceSearch}}
    </div>
    <div class="dataSearch">
        <p>Sortuj według dat</p>
        <label for="dateSearch">Początek</label>
        <input type="date" name="dateSearch"[(ngModel)]="startDateSearch" (ngModelChange)="updateFilters()">
        <label for="dateSearch">Koniec</label>
        <input type="date" name="dateSearch" [(ngModel)]="endDateSearch" (ngModelChange)="updateFilters()">
    </div>
    <div class="ratingSearch">
        <p>Sortuj według ocen</p>
        <div class="stars">
            <img (click)="rateWithStar(1)" [ngClass]="{'checkedStar': changeArr[0] === true, 'uncheckedStar': changeArr[0] === false}" src="https://img.icons8.com/color/30/null/filled-star--v1.png"/>
            <img (click)="rateWithStar(2)" [ngClass]="{'checkedStar': changeArr[1] === true, 'uncheckedStar': changeArr[1] === false}" class="uncheckedStar" src="https://img.icons8.com/color/30/null/filled-star--v1.png"/>
            <img (click)="rateWithStar(3)" [ngClass]="{'checkedStar': changeArr[2] === true, 'uncheckedStar': changeArr[2] === false}" class="uncheckedStar" src="https://img.icons8.com/color/30/null/filled-star--v1.png"/>
            <img (click)="rateWithStar(4)" [ngClass]="{'checkedStar': changeArr[3] === true, 'uncheckedStar': changeArr[3] === false}" class="uncheckedStar" src="https://img.icons8.com/color/30/null/filled-star--v1.png"/>
            <img (click)="rateWithStar(5)" [ngClass]="{'checkedStar': changeArr[4] === true, 'uncheckedStar': changeArr[4] === false}" class="uncheckedStar" src="https://img.icons8.com/color/30/null/filled-star--v1.png"/>
        </div>
        
    </div>

</div>
