<div class="wrapper">
    <div class="innerWrapper">
        <Header>
            <h1>Tam i z Powrotem</h1>
            <h2>"Podróżuj z nami"</h2>
        </Header>
        <div class="details">
            <div class="imgBG">
                <img src="assets/images/wizytBG.jpg">
            </div>
            <div class="map">
                <img src="assets/images/localmap.png" alt="">
            </div>
            <div class="contact">
                <div class="innerContact">
                    <h3>Dane kontaktowe:</h3>
                    <div class="contactData">
                        <p><span>Mail:</span> tamizpowrotem@email.com</p>
                        <p><span>Telefon:</span> +048 123 123 123</p>
                        <p><span>Adres:</span> Nawojki, 25, 30-072, Kraków</p>
                    </div>
                    <div class="sociale">
                        <a href=""><img src="https://img.icons8.com/fluency/60/000000/instagram-new.png"/></a>
                        <a href=""><img src="https://img.icons8.com/color/60/000000/facebook.png"/></a>
                        <a href=""><img src="https://img.icons8.com/color/60/000000/twitter-squared.png"/></a>
                    </div>
                </div>
                
            </div>
        </div>
            
    </div>

</div>
